{% extends "base.html" %}

{% block content %}
<p id='api'></p>
<p id='api2'></p>
{% comment %} <h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3> {% endcomment %}
{% comment %} <ul id='chat-items'> {% endcomment %}
{% comment %} {% for chat in object.chatmessage_set.all %} {% endcomment %}

{% comment %} <li>{{ chat.message }} via {{ chat.user }}</li> {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}
{% comment %} </ul> {% endcomment %}

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script>
// websocket scripts
console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var api = $("#api")
var api2 = $("#api2")

var wsStart = 'ws://'
if(loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var endpoint2 = wsStart + loc.host + '/user2/'
var endpoint3 = wsStart + loc.host + '/user3/'
console.log(endpoint + ' endpoint')
console.log(endpoint2+'endpoint2')
var socket = new WebSocket(endpoint)
 ///////////////////////////////
var socket2 = new WebSocket(endpoint2)
///////////////////////////////
var socket3 = new WebSocket(endpoint3)

socket2.onopen = function(e){
    console.log('message2',e)
    console.log('socket 2 is connected bitch!')
}
socket2.onmessage = function(e){
console.log("message2", e)
chatHolder.append("<li>" + e.data + "</li>")
api2.append(e.data)
}

socket3.onopen = function(e){
    console.log("socket3 is connected!")
}

socket3.onmessage = function (e) {
    console.log('message3',e)
    console.log('type',e.type)
}

socket.onmessage = function(e){
    console.log("message", e)
    chatHolder.append("<li>" + e.data + "</li>")
    api.append(e.data)
}
socket.onopen = function(e){
    console.log("open" , e)
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()

        var finalData = {
            'message': msgText
        }

        socket.send(JSON.stringify(finalData))
        
        formData[0].reset()
    })
}
socket.onerror = function(e){
    console.log("error" , e)
}
socket.onclose = function(e){
    console.log("close",e)
}

</script>
{% endblock %}